<link rel="stylesheet" href="/styles/index.css" />

</head>

<body>

    <a href="#" class="ml-3">
        <h3 class="mt-3">View Playlist</h3>
    </a>
    <div class="container my-3">
        <h1 class="text-center">Fyre</h1>
        <br>
        <div id="placeholder" class="text-center">placeholder</div>
        <div id="buttons" class="my-4">
            <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
            <button class="btn btn-success" type="submit">&#128293</button>
        </div>
    </div>



    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = "BQDH4Puyi9b9tGlhx1lsoMKus298w8OIwx9hr0vqYTMN8QgKFztLZ4rkuoNq8axSzA3gpJAptDamaQJCnbrzPI766esMZ9YLW8pkek9BDVyAaBXBj0y-VUsGSL73CWm5l8_J0nnCb5j9RcDEkDxgpmgmWbovs5Z1OT55lU1t7od-hUj56UYtn8c";
            var player = new Spotify.Player({
                name: 'A Spotify Web SDK Player',
                getOAuthToken: cb => { cb(token); }, volume: 0.1
            });

            player.addListener('ready', ({ device_id }) => {

                const play = ({
                    spotify_uri,
                    playerInstance: {
                        _options: {
                            getOAuthToken,
                            id
                        }
                    }
                }) => {
                    getOAuthToken(access_token => {
                        fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
                            method: 'PUT',
                            body: JSON.stringify({ uris: [spotify_uri] }),
                            headers: {
                                'Content-Type': 'application/json',
                                'Authorization': `Bearer {{token}}`
                            },
                        });
                    });
                };

                play({
                    playerInstance: player,
                    spotify_uri: 'spotify:track:7xGfFoTpQ2E7fRF5lN10tr',
                });
            });
            player.connect();
        };
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>