body {
    background: url("https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Righteous', cursive;
    color: orangered;
  }
  
  #placeholder {
    background-color: lightblue;
    width: 400px;
    height: 400px;
    margin: auto;
  }
  
  #buttons {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    width: 4rem;
    height: 4rem;
    box-shadow: 6px 6px 10px  black;
  }
  
  h1 {
    font-size: 4rem;
    text-shadow: 3px 3px 10px  black
  }
  
  a {
    display: block;
    color: orangered;
    width: max-content;
  }
  
  a:hover {
    color: orange;
    text-decoration: none;
  }